<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="Q7rF8EqTV03w4W1fM8gdF0pn"/>
    <add key="SecretKey" value="sHcFtYQ58kTEo8808LkVnCP35GTvucHp"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
